label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    border:1px solid #900;
}

body {
    background-image: url(backbrown.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

#D12 {
    width:75%;
    height:500px;
    left: 200px;
}

#b0 {
    display:none;
    position:absolute;
    z-index:10000;
}

div {
    position: relative;
    width:100px;
    height:100px;
    float:left;
    border:1px solid #000;
    margin:1em;
}

img {
    width: 100%;
    height:auto;
}
